.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  @apply transition-opacity duration-700 ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  @apply list-none m-0 p-0 absolute bottom-2/100 left-0 right-0 text-center;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  /* color: #2b6cb0; */
  /*Set to match the Tailwind colour you want the active one to be */
  @apply text-blue-600;
}
